.App {}

.App-header {
  background-color: #222;
  padding: 0;
  color: white;
}

.App-header .navbar-brand {
  padding-left: 0 !important;
}
#navbarsExampleDefault {
  padding-right: 0 !important;
}

.App-body {
  padding: 1rem;
  color: white;
}

.App-body-intro {}
